transformers==5.4.0
imageio
imageio[ffmpeg]
safetensors
einops
sentencepiece
protobuf
modelscope
ftfy
pandas
pillow
decord
accelerate
peft
datasets
opencv-python
pytorch_lightning
rerun_sdk
tyro
tqdm
av
